:root{
    --accent-color: #d52c3a;
    --primary-color: #1B1C1F;
    --secondary-color: #101113;
    --text-color: #d9d9d9;
    --secondary-text-color: #7f8082;
}
*{
    margin: 0px;
    padding: 0px;
}
Html{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: var(--text-color);
    scroll-behavior: smooth;
}
body{
    font-family:"Inter", sans-serif;
    min-height: 100vh;
    background:#edfcff;
}
header{
    background-image: url(head.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    padding: 130px;
}
header .container{
    display: flex;
    flex-direction:row-reverse ;
    justify-content: center;
    padding-top: 40px;
    }
header img{
    height: 20vw;
    width: 20vw;
    box-shadow: red 1px 1px 10px;
    border-radius: 50%;
    transition: 0.5s;
    animation: floatImg 4s ease-in-out infinite;
}
header img:hover{
    box-shadow: 1px 2px 20px green;
}
@keyframes floatImg {
    0%,
    100%{
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(-1.4rem);
    }
}
header h1{
    font-size: 3rem;
    color:#ffffff;
}
header h2{
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
header p{
    color:rgb(255, 255, 255);
}
header .read-more{
    display: inline-block;
    color:rgb(244, 237, 237);
    font-size: 1rem;
    font-weight:bold;
    border-radius:5px;
    padding: 9px;
    cursor: pointer;
    transition:1000ms ease;
    text-decoration: none;
    box-shadow: 0px 0px 5px;
}
header .read-more:hover{
    background-color: var(--secondary-text-color);
    color: white;
    font-size: 20px;
}
.time{
    position: absolute;
    top: 60px;
    left: 70px;
    font-size: 45px;
    font-weight: bold;
    width: 300px;
    text-align: center;
    color:#ffffff;
    filter: blur(1px);
}
#skill-section{
    background-image: url(file.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px 20px 150px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100vh;
}
.click_here{
    color:rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px;
    border-radius: 20px;
    text-shadow: 2px 3px 15px rgb(0, 185, 247);
    transition: 1000ms ease;
    text-align: center;
}
.click_here:hover{
    color: #f06e04;
    font-size: 20px;
}
#skill-section h2{
    font-size:3rem;
    text-align: center;
    color:#f2efef;
    padding: 20px;
}
#skill-section .wrapper{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.skill-container{
    width: 450px;
    max-width: 100%;
    background-color: rgba(144, 141, 141, 0.3);
    background-blend-mode: multiply;
}
.skill-container h3{
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0;
    color:#f90000;
}
.skill-container li{
    padding: 6px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.skill-container ul progress{
    accent-color: rgb(239, 36, 0);
    font-size: 22px;
    font-weight: bold;

}
#project-section{
    background-image: url(top-view-workspace-with-agenda-pens.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px 10px;
    min-height: 100vh;
}
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#project-section h2{
    color:#ffffff;
    font-size: 2rem;
    padding: 25px;
}
details{
    width:850px;
    max-width: 100%;
    box-shadow: 0px 1px 3px;
    border-radius: 50px;
    border-left: #d52c3a solid 10px;
    border-bottom-left-radius: 25px;
    color:#ffffff;
    padding: 5px;
    margin-top: 15px;
    flex-wrap: wrap;
}
details summary{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 30px;
    padding: 30px;
    transition: 1000ms ease;
}
details .number{
    background-color: var(--accent-color);
    min-height: 50px;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.3rem;
    font-weight: 700;
}
details h3{
    font-size: 1.5rem;
}
details .text-container{
    padding: 30px;
}
.click_on_me{
    color:rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px;
    border-radius: 35px;
    transition: 1000ms ease;
    text-shadow: 2px 3px 15px rgb(0, 185, 247);

}
.click_on_me:hover{
    color: #f06e04;
    font-size: 20px;
}
footer{
    background-image: url(at.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
footer #grid-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 105px;
    padding-top: 35px;
    overflow: hidden;
}
.det{
    display: flex;
    justify-content: space-around;
}
.det a{
    color: white;
}
#at_symbole{
    font-size: 150px;
    transition: 0.3s;
    animation: floatat 15s ease-in-out infinite;
}
@keyframes floatat {
0%,
100%{
    transform: translateX(20rem);
}
50% {
    transform: translateX(-20.4rem);
}
}
.social{
    display: flex;
    justify-content: space-around;
    font-size: 35px;
    padding: 60px;
}
.social a{
    color: white;
}
.social a:hover{
    font-size: 30px;
    color:#f06e04;
    transition: 1000ms ease;
}
.CV{
    text-decoration: none;
    transition: 1000ms ease;
    font-size: 28px;
    font-weight: bold;
}
.CV:hover{
    color: #000000;
    font-size: 20px;
    }
    .myemail{
        transition: 500ms ease;
        font-size: 35px;
    }
    .myemail:hover{
        color: #f06e04;
        font-size: 35px;
        transform: rotate(360deg);
    }
    .mynum{
        transition: 500ms ease;
        font-size: 35px;
    }
    .mynum:hover{
        border-radius: 20px;
        color: #f06e04;
        transform:rotate(45deg);
    }
    .standort{
        transition: 500ms ease;
        font-size: 35px;
    }
    .standort:hover{
        color: #f06e04;
        font-size: 35px;
        transform: rotate(360deg);
    }
    .Github{
        transition: 500ms ease;
        font-size: 45px;
    }
    .Github:hover{
        color: #f06e04;
        font-size: 45px;
        transform: rotate(360deg);
    }
    @media(max-width: 380px ){
            .skill-container li{
                font-size: 16px;
        }
        #project-section h2{
            font-size: 2rem;
        }
        details{
            font-size: 13px;
            padding: 0;
            overflow: hidden;
        }
        details .number{
            font-size: 15px;
        }
        details h3{
            font-size: 1rem;
        }
    }
    @media(max-width: 774px ){
        details{
            font-size: 15px;
            overflow: hidden;
        }
    }
